<a href="https://colab.research.google.com/github/gusrud12/Coding_ALG/blob/master/%23Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 1000보다 작은 자연수 중에서 3 또는 5의 배수를 모두 더하면?

10보다 작은 자연수 중에서 3 또는 5의 배수는 3, 5, 6, 9 이고, 이것을 모두 더하면 23입니다.

1000보다 작은 자연수 중에서 3 또는 5의 배수를 모두 더하면 얼마일까요?

In [3]:
import sys
sys.version

'3.6.9 (default, Apr 18 2020, 01:56:04) \n[GCC 8.4.0]'

In [6]:
sum = 0
for i in range(1000):
    if (i %3 == 0 or i % 5 ==0):
        sum += i

print(sum)

233168

# 2. 피보나치 수열에서 4백만 이하이면서 짝수인 항의 합

피보나치 수열의 각 항은 바로 앞의 항 두 개를 더한 것이 됩니다. 1과 2로 시작하는 경우 이 수열은 아래와 같습니다.

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

짝수이면서 4백만 이하인 모든 항을 더하면 얼마가 됩니까?

In [15]:
sum = 0
num1 =0
num2 = 1
result=0

while result<=4000000:
    result= num1+num2
    if result % 2 == 0:
        sum += result
    num1 = num2
    num2 = result
    
print(sum)

4613732